@media (min-width: 800px) {
  p {
    font-size: 19px;
  }

  .mobile-nav {
    display: none;
  }

  .hamburger,
  .hamdiv {
    display: none;
  }
}

@media (min-width: 1000px) {
  .it_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
  }

  .it_logo {
    width: 70px;
    height: 70px;
    gap: 15px;
    margin: 30px 10px 60px 80px;
  }
  .sprog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
  }

  #sprog_h2 {
    text-align: center;
    margin-top: 40px;
  }
}

@media (min-width: 670px) {
  .kompas_container {
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20%;
    left: 70%;
  }
  /* 
  .kompas_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(assets/kompas.svg);
    background-size: cover;
  } */

  .pil_container {
    width: 50%;
    aspect-ratio: 213/57.85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pil_sprite {
    width: 100%;
    height: 100%;
    background-image: url(assets/pil.svg);
    background-size: cover;
  }

  .grid_intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .opgavebeskrivelse,
  .opgavebeskrivelse_03,
  .opgavebeskrivelse_rnd {
    order: -1;
  }

  .opgavebeskrivelse_02 p,
  h1 {
    order: -1;
  }

  .about {
    order: -1;
    margin-top: 150px;
  }
}

@media (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* section {
    padding-left: 60px;
    padding-right: 60px;
  } */

  main {
    margin-left: 60px;
    margin-right: 60px;
  }

  .logo {
    width: 300px;
    height: 300px;
    position: relative;
    top: 70px;
    left: 45px;
    margin-bottom: 180px;
  }

  #index_text {
    margin-top: 0;
    margin-left: 100px;
  }

  #index_text h1 {
    margin-top: 10px;
  }
  .index_mappe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
  }
  .mappe_info {
    margin-bottom: 200px;
  }

  .index_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #cv {
    display: flex;
    flex-direction: row;
  }

  #portraet {
    width: 20%;
    position: relative;
    top: 10%;
    left: 4%;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .cv_text {
    position: relative;
    top: -72%;
    left: 6%;
    margin-top: 150px;
  }

  #kerne_text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .kerne_hide {
    display: block;
  }

  .kerne_kompetencer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 100px;
    color: white;
  }

  .kerne {
    padding: 10px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
  }

  .kerne h3 {
    color: #c6342f;
  }

  /* 
  #studiestartsproven img {
    position: relative;
    top: -10%;
    margin-top: 50px;
    right: -25%;
  }*/

  #studiestartsproven img {
    width: 50%;
  }

  .wireframes_02_text {
    margin-top: 100px;
  }
  .wireframes_tema02 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
  }

  .wirefram_grid {
    display: contents;
    /* gap: 20px; */
  }

  .billede1 {
    width: 150%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .billede2 {
    width: 157%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .billede3 {
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .billede4 {
    width: 33%;
    margin-top: 10px;
    margin-left: 10px;
  }

  #title_02 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 60px;
  }

  #underrub_02 {
    margin-left: 45px;
    margin-top: 8px;
    color: #c6342f;
    font-size: 35px;
  }

  .styletile_02 {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
  }

  #styletile_02 h2 {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    order: 1;
  }

  #styletile_02 p {
    margin-left: 30px;
    padding: 5px;
    margin-bottom: 10px;
    order: 1;
  }

  #styletile_02_img {
    width: 30%;
    margin-left: 20px;
    margin-top: 0;
    order: -1;
  }

  .grid_brug {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_brug p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .grid_brug1 {
    margin-top: 0;
  }

  .grid_brug2 {
    margin-left: 0;
    margin-top: 0;
    margin-top: 10px;
  }

  #flex_02_img {
    grid-column: 2/3;
  }

  .grid_05_videosite {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .grid_05_videosite {
    gap: 30px;
    margin: 30px 50px 50px 50px;
  }

  .oneniceboi_billed {
    margin-bottom: 10px;
  }

  .billede1_niceboi {
    grid-column: 1;
    grid-row-end: span 2;
    width: 100%;
  }

  .billede4_niceboi {
    grid-column: 2;
    grid-row-end: span 2;
    width: 100%;
  }

  .billede3_niceboi,
  .billede2_niceboi {
    gap: 20px;
    width: 105%;
  }

  .billede2_niceboi {
    margin-bottom: 9px;
  }

  .mappe_grid_05 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
  }

  .billede_05 {
    width: 15%;
    left: 0;
  }

  .index_p {
    margin-left: 0;
    margin-top: 30px;
  }

  /* .figur_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  } */

  .figur_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 -60px;
    padding: 10px 60px 25px 60px;
  }
  #figurer_text {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }

  #elementer_text {
    grid-row-start: 1;

    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: center;
  }

  .figurer_billede {
    grid-row-start: 2;
  }

  .elementer_billede {
    grid-row-start: 2;
  }

  .video {
    width: 680px;
    height: auto;
  }
  .grid_skaerm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    margin-bottom: 12px;
    padding: 0;
  }

  .grid_skaerm h4 {
    margin-top: 12px;
  }

  .diagram img {
    width: 100%;
  }

  .diagram {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    margin: 12px -60px;
    padding: 10px 60px 25px 60px;
  }

  .logornd {
    width: 35%;
    position: relative;
    left: 48%;
    top: -10%;
  }
}

/* @media screen and (min-width: 500px) {
  .logo {
    width: 50%;
    height: 50%;
    top: 10%;
    left: 10%;
  }
} */

@media (min-width: 400px) {
  .knapcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
