@media (min-width: 700px) {
  p {
    font-size: 19px;
  }

  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 700px) {
  .logo {
    width: 300px;
    height: 300px;
    position: relative;
    top: 70px;
    left: 45px;
    margin-bottom: 180px;
  }

  #index_text {
    margin-top: 0;
    margin-left: 100px;
  }

  #index_text h1 {
    margin-top: 10px;
  }
  .index_mappe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
  }
  .mappe_info {
    margin-bottom: 200px;
  }

  .index_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #portraet {
    grid-column: 1/2;
    width: 400px;
    height: auto;
    position: relative;
    top: 10%;
    left: 15%;
  }

  .cv_text {
    grid-column: 1/2;
    position: relative;
    top: -72%;
    left: 80%;
    color: #c6342f;
  }

  .it_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 20px;
  }

  .it_logo {
    width: 70px;
    height: 70px;
    gap: 15px;
    margin: 30px 10px 60px 80px;
  }

  #kerne_text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .kerne_hide {
    display: block;
  }

  .kerne_kompetencer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 100px;
  }

  .kerne {
    padding: 10px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
  }

  .kerne h3 {
    color: #c6342f;
  }

  .sprog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #sprog_h2 {
    text-align: center;
    margin-top: 40px;
  }
}

/* 

  .wireframes_tema02 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .billede1,
  .billede2 {
    width: 100%;
    margin-left: 40px;
    margin-top: 10px;
  }

  .billede3,
  .billede4 {
    width: 100%;
    margin-top: 10px;
  }

  #title_02 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 60px;
  }

  #underrub_02 {
    margin-left: 45px;
    margin-top: 8px;
    color: #c6342f;
    font-size: 35px;
  }

  #studieproven {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #studiestartsproven img {
    width: 70%;
    order: 1;
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
    right: -25%;
  }

  .studiestartsproven_text {
    order: -1;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  .redskaber {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    row-gap: 10px;
    justify-content: space-around;
  }

  .redskab_title {
    position: absolute;
  } */

/* @media screen and (min-width: 500px) {
  .logo {
    width: 50%;
    height: 50%;
    top: 10%;
    left: 10%;
  }
} */
