/* mutale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #f7f2f0;
}

h1 {
  font-family: open sans;
  font-weight: lighter;
}

h2 {
  font-family: open sans;
  font-weight: lighter;
  font-size: 24px;
}

h3 {
  font-family: open sans;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

/*Header*/
.logo_header {
  width: 80%;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 5px;
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
  margin: 20px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #8c8995;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 5px;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #221b20;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #dad2d8;
  color: #c6342f;
  text-decoration: none;
  border: solid 2px #221b20;
  border-radius: 15px;
  font-family: "open sans";
  font-size: 20px;
  font-weight: lighter;
}

.mobile-nav a:hover {
  background-color: #c6342f;
  color: #ffffff;
  border: solid 2px #c6342f;
  border-radius: 15px;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgb(247, 242, 240);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 700px) {
    .container a {
      text-decoration: none;
      font-size: 25px;
    }
  }
}

.nav {
  @media (max-width: 700px) {
    display: none;
  }
}

.nav a {
  font-family: open sans;
  font-weight: lighter;
  margin: 10px;
  color: black;
}

.nav a:hover {
  font-weight: bold;
}

/*Footer*/
footer {
  background-color: rgb(247, 242, 240);
}

.logo_footer {
  width: 60%;
}

.flex_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social_icons {
  font-size: 25px;
  cursor: pointer;
  margin-top: 10px;
}

li a {
  color: #c6342f;
  text-decoration: none;
  font-family: open sans;
  font-weight: lighter;
  margin-left: 30px;
}

li {
  margin-bottom: 15px;
  margin-top: 10px;
  list-style-type: none;
}

li a:hover {
  margin: 35px;
  font-weight: bolder;
}

.mobil,
.email {
  font-family: open sans;
  margin-bottom: 15px;
  margin-top: 15px;
}

.kontakt {
  order: 2;
  font-family: open sans;
  font-weight: lighter;
  margin-left: 30px;
  margin-right: 7px;
}

.kontakt_text {
  font-size: 16px;
  margin-top: 10px;
}

.farvet_ord {
  color: #c6342f;
}

/* tema 02 */

.knap {
  border: solid 2px black;
  padding: 8px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: open sans;
  font-weight: bolder;
  margin: 50px 30px 20px 50px;
  background-color: #f7f2f0;
}

.knap:hover {
  color: white;
  background-color: #221b20;
}

#studiestartsproven img {
  position: relative;
  right: -34%;
  margin-top: 50px;
}

#studiestartsproven img {
  width: 60%;
}

.title {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 45px;
}

.underrub {
  margin-left: 45px;
  margin-top: 8px;
  color: #c6342f;
}

.studiestartsproven_text {
  margin: 15px;
  padding: 5px;
  font-size: 16px;
}

.studiestartsproven_text h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.redskaber {
  background-color: #5e503f;
  color: whitesmoke;
  padding: 10px;
  padding: 10px;
}
.redskaber h2 {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 5px;
  margin-top: 10px;
}

.redskaber h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.wireframes_02_text {
  margin-left: 10px;
  margin-top: 20px;
}

.wireframes_02_text p {
  margin-bottom: 20px;
}

.wireframes_02_text h2 {
  margin-bottom: 5px;
}

.billede1,
.billede2 {
  width: 80%;
  margin-left: 40px;
  margin-top: 10px;
}

.billede3,
.billede4 {
  width: 60%;
  margin-top: 10px;
}

.billede3 {
  margin-left: 60px;
}

.billede4 {
  margin-left: 20px;
}

.wirefram_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wireframes_tema02 h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

#styletile_02 h2 {
  margin-left: 10px;
  margin-top: 70px;
}

#styletile_02 p {
  margin-left: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

/* #styletile_02_img {
  width: 95%;
  margin-left: 10px;
} */

/*index*/

.index_background {
  background-color: #221b20;
}

.index_header a {
  color: white;
}

.logo {
  width: 180px;
  height: 180px;
  position: relative;
  top: 40px;
  left: 25px;
}

#index_text {
  color: white;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: open sans;
}

.index_p {
  font-family: open sans;
  font-weight: lighter;
  color: white;
  margin-left: 20px;
  line-height: 1.8;
}

.mappe_info {
  text-align: center;
  margin-bottom: 100px;
}

#index_text h1 {
  margin-bottom: 10px;
  margin-left: 20px;
}

.index_mappe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.billede {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 28%;
}

.billede h1 {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.billede img.image_hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.billede:hover img.image_hover {
  opacity: 1;
  cursor: pointer;
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pulse_kf {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/*om*/

#portraet {
  width: 30%;
  position: relative;
  right: -60%;
}

.cv_text {
  margin: 20px;
  padding: 7px;
  line-height: 1.5;
}

.arbejdserfaring,
.text {
  background-color: #3d4052;
  color: white;
  padding: 10px;
}

.arbejdserfaring h2 {
  text-align: center;
  margin-top: 15px;
  font-weight: lighter;
}
.arbejdserfaring h3 {
  margin-top: 15px;
  font-weight: lighter;
  color: #ffd447;
  margin-left: 15px;
}

.arbejdserfaring {
  list-style-type: none;
}

.arbejdserfaring p {
  margin-left: 25px;
  margin-bottom: 15px;
}

.sprog {
  margin-top: 15px;
  font-weight: lighter;
  margin-left: 10px;
  margin-bottom: 100px;
}

.sprog h3 {
  margin-top: 15px;
  font-weight: lighter;
  margin-left: 15px;
}

.sprog_billede {
  width: 280px;
  margin-left: 30px;
  margin-bottom: 20px;
}

#sprog_h2 {
  margin-left: 10px;
  margin-top: 30px;
}

.it_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #8c8995;
}

.it_logo {
  width: 70px;
  height: 70px;
  gap: 10px;
  margin: 30px 10px 60px 50px;
}

.it_logo h3 {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}

.om_text h2 {
  margin-left: 10px;
  margin: 30px 10px 8px 10px;
}

.om_text p {
  padding: 10px;
  line-height: 1.5;
}

.kerne_hide {
  display: none;
}
